<section class="block block--dark block--skewed-left">
  <div class="block__header">
    <h1 class="block__heading">Cloud Hosting for Pros</h1>
    <p class="block__description">
      Deploy your website in less than 60 seconds
    </p>
    <button href="#" class="btn btn--accent btn--streached">get started</button>
  </div>
</section>
<section class="block">
  <div class="block__header">
    <div class="container">
      <h1 class="block__heading">Cloud Hosting for Pros</h1>
      <p class="block__description">
        Deploy your website in less than 60 seconds
      </p>
      <button href="#" class="btn btn--accent btn--streached">
        get started
      </button>
    </div>
  </div>
</section>
