<section class="block container">
    <header class="block__header">
      <h2 class="block__heading">What our Customer are Saying</h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae, tenetur?</p>
    </header>
    <div class="card testimonial">
      <div class="grid grid--1x2">
        <div class="testimonial__image">
          <img src="images/demo.jpeg" alt="A Beautiful Women" />
          <span class="icon-container icon-container--accent">
            <svg class="icon--small icon--white">
              <use xlink:href="icons/sprite.svg#quotes"></use>
            </svg>
          </span>
        </div>
        <blockquote class="quote">
          <p class="quote__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, provident
            sapiente? Aspernatur, ullam minima. Fugiat at alias veritatis! Aperiam,
            ullam.
          </p>
          <footer>
            <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary quote__line">
                <use xlink:href="icons/sprite.svg#line"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title quote__author">Malanie Vallejo </h3>
              <p class="media__description quote__company">
                Australian actress
              </p>
            </div>
          </footer>
        </blockquote>
      </div>
    </div>
  </section>