<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Products</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="icons/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="list__item"><a href="#">Wordpress Hosting</a></li>
          <li class="list__item">
            <a href="#">Free Automated WordPress </a>
          </li>
          <li class="list__item"><a href="#">Migrations</a></li>
          <li class="list__item"><a href="#">Domain Names</a></li>
          <li class="list__item"><a href="#">Monthly Web Hosting</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Company</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="icons/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="list__item"><a href="#">About</a></li>
          <li class="list__item">
            <a href="#">Affiliates </a>
          </li>
          <li class="list__item"><a href="#">Blog</a></li>
          <li class="list__item"><a href="#">Careers</a></li>
          <li class="list__item"><a href="#">Community</a></li>
          <li class="list__item"><a href="#">News</a></li>
          <li class="list__item"><a href="#">Green Hositng</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Support</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="icons/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="list__item"><a href="#">Contact</a></li>
          <li class="list__item">
            <a href="#">Affiliates </a>
          </li>
          <li class="list__item"><a href="#">Knowledge Base</a></li>
          <li class="list__item"><a href="#">Forums</a></li>
          <li class="list__item"><a href="#">System Status</a></li>
          <li class="list__item"><a href="#">Web Hosting</a></li>
          <li class="list__item"><a href="#">DreamCompute</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Support</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="icons/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="list__item"><a href="#">Domains</a></li>
          <li class="list__item">
            <a href="#">Affiliates </a>
          </li>
          <li class="list__item"><a href="#">Domain's Checker</a></li>
          <li class="list__item"><a href="#">Domain Transfer</a></li>
          <li class="list__item"><a href="#">Free Domain</a></li>
          <li class="list__item"><a href="#">XYZ Domain</a></li>
          <li class="list__item"><a href="#">Cheap SSL Certificate</a></li>
        </ul>
      </div>
    </section>
    <section class="footer__brand">
      <img src="images/logo.svg" alt="logo" />
      <p class="footer__copyrights">MRDJ 2020 Copyrights</p>
    </section>
  </div>
</footer>
