<section class="block block--dark block--skewed-left hero">
  <div class="container grid grid--1x2">
    <div class="hero__content">
      <h1 class="block__heading">Cloud Hosting for pros</h1>
      <p class="hero__description">
        Deploy your website in less than 60 seconds
      </p>
      <a href="#" class="btn btn--accent btn--streached">get started</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/banner@1x.webp, images/banner@2x.webp"
      />
      <source
        type="image/png"
        srcset="images/banner@1x.png, images/banner@2x.png"
      />
      <img src="images/banner.png" alt="" />
    </picture>
  </div>
</section>
