<section class="block block--dark block--skewed-left block-showcase">
    <header class="block__header">
      <h2 class="block__heading">User-Friendly Control Panel</h2>
    </header>
    <div class="container grid grid--1x2 ">
      <picture  class="block-showcase__image">
        <source
          type="image/webp"
          srcset="images/ipad@1x.webp 1x, images/ipad@2x.webp 2x"
        />
        <source
          type="image/png"
          srcset="images/ipad@1x.png 1x, images/ipad@2x.png 2x"
        />
        <img
         
          src="images/ipad@2x.png"
          alt="ipad"
        />
      </picture>
      <div class="block-showcase__media ">
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="icons/sprite.svg#snap"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p class="media__description">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora
              quam impedit inventore nemo quibusdam dolorum officia dicta
              pariatur praesentium. Repellat?
            </p>
          </div>
        
        </div>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="icons/sprite.svg#snap"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Staging, Git & WP-CLI</h3>
            <p class="media__description">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora
              quam impedit inventore nemo quibusdam dolorum officia dicta
              pariatur praesentium. Repellat?
            </p>
          </div>
        
        </div>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="icons/sprite.svg#snap"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Dynamic Caching & More</h3>
            <p class="media__description">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora
              quam impedit inventore nemo quibusdam dolorum officia dicta
              pariatur praesentium. Repellat?
            </p>
          </div>
        
        </div>
      </div>

     
  </section>